@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Our customers love us</h3>

<p>
    Here are some reviews from our fans

    <blockquote>
        @ViewBag.Quote
        <br />
        <i>-@ViewBag.Source</i>
    </blockquote>
</p>
